.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.red_morooze img:hover {
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}

.blue_morooze img:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.5));
}

.highlight {
    box-shadow: 0 0 10px rgba(130, 95, 95, 0.967);
}